<app-header></app-header>

<section class="container" style="background-color:  #ccff66;">
	<div class="container"><br/><h1> Ready To Send Image?</h1></div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="../../assets/img/image.jpg" style="height: 400px; background-position: center; background-size: cover;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Enter Details</h3>

            <form class="px-md-2" [formGroup]="sendimage" (ngSubmit)="collectSendImage()">

              <div class="form-outline mb-4">
                <input type="tel" id="contact" formControlName="recvcontact" class="form-control" />
                <label class="form-label" for="contact">Receiver Contact</label>
              </div>

	      <div class="form-outline mb-4">
	       <input type="file" class="form-control" formControlName="imgpath" id="image" />
	       <label class="form-label" for="image"> Select Image </label>
              </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
